:root {
  --animate-duration: 500ms;
  --animate-delay: 0.9s;
}
[x-cloak] {
  display: none !important;
}


/* Scrollbar styles */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent rgb(203 213 225);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(203 213 225);

  border-radius: 20px;
}



.red-border-on-hover:hover {
  border: 1px solid transparent;
  transition: border-color 0.3s;
  border-color: red;
  cursor: pointer;
}

.tooltip {
  /* position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: none; */
  position: absolute;
  background-color: #333333db;
  color: rgb(255 255 255);
  padding: 8px;
  border-radius: 12px;
  font-weight: 500;
  z-index: 1000;
  display: none;
}